.products {
  width: 100%;
  overflow: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.products__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
}
