.filters {
  font-size: x-large;
}

.filters__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  gap: 2rem;
}

.filters__content > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .filters__content,
  .filters__content > div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
